<?xml version="1.0" encoding="UTF-8"?>
<launch>	
	<group>
        <node pkg="IBVS_ROV" exec="Image_Select" name="Image_selector" output="screen"></node>
		<node pkg="IBVS_ROV" exec="Image_Track" name="Image_tracking" output="screen"></node>
        <node pkg="IBVS_ROV" exec="Image_VideoGrabber" name="VideoGrabber" output="screen"></node>

        <node pkg="IBVS_ROV" exec="Controller_camera" name="Controller_camera" output="screen"></node>

        <node pkg="IBVS_ROV" exec="Tester_Base" name="Tester_Base" output="screen"></node>
	</group>
		
</launch>	
