<?xml version="1.0" encoding="UTF-8"?>
<launch>	
	<arg name="configControllerCamera" default="default"/>
	<arg name="configControllerFrame" default="default"/>
	<group>
        <node pkg="IBVS_ROV" exec="Controller_Camera" name="Controller_Camera" output="screen">
			<param from="$(find-pkg-share IBVS_ROV)/config/controller.camera.$(var configControllerCamera).yaml"/>
		</node>
		<node pkg="IBVS_ROV" exec="Controller_Frame" name="Controller_Frame" output="screen">
			<param from="$(find-pkg-share IBVS_ROV)/config/controller.frame.$(var configControllerFrame).yaml"/>
		</node>
	</group>
		
</launch>	
