<launch>		
	<group> 
	  <arg name="namespace" default="bluerov2"/>
	  <arg name="configJoy" default="default" />
	  <arg name="config_filepath" default="$(find-pkg-share IBVS_ROV)/config/joy.$(var configJoy).yaml" />

	<node pkg="joy_linux" exec="joy_linux_node" name="joy_linux_node" namespace="$(var namespace)" output="screen">
		<param from="$(var config_filepath)"/>
	</node>

	<!-- if we assign a ns to teleop, we will need to put the name of the ns as a first line in the yaml file !!! -->
	<node pkg="teleop_twist_joy" exec="teleop_node" name="teleop_twist_joy_node" namespace="$(var namespace)" output="screen">
		<param from="$(var config_filepath)"/>
	</node>

		
	</group>
</launch>	
