<launch>		
	<group> 
	  <arg name="namespace" default="bluerov2"/>
	  <arg name="joy_config" default="xbox" />
	  <arg name="joy_dev" default="/dev/input/js0" />
	  <arg name="config_filepath" default="$(find-pkg-share autonomous_rov)/config/$(var joy_config).config.yaml" />
	  <arg name="joy_topic" default="joy" />

	<node pkg="joy_linux" exec="joy_linux_node" name="joy_linux_node" namespace="$(var namespace)" output="screen">
		<param name="dev" value="$(var joy_dev)" />
		<param name="deadzone" value="0.2"/>
		<param name="autorepeat_rate" value="0.0"/>
	</node>

	<!-- if we assign a ns to teleop, we will need to put the name of the ns as a first line in the yaml file !!! -->
	<node pkg="teleop_twist_joy" exec="teleop_node" name="teleop_twist_joy_node" namespace="$(var namespace)" output="screen">
		<param name="require_enable_button" value="false" />
		<param name="axis_linear.x" value="1" />
		<param name="axis_linear.y" value="0" />
		<param name="axis_linear.z" value="4" />
		<param name="axis_angular.yaw" value="3" />
		<param name="axis_angular.roll" value="7" />
		<param name="axis_angular.pitch" value="6" />
		<param name="scale_linear.x" value="0.2" />
		<param name="scale_linear.y" value="0.2" />
		<param name="scale_linear.z" value="0.4" />
		<param name="scale_angular.yaw" value="0.2" />
		<param name="scale_angular.roll" value="0.2" />
		<param name="scale_angular.pitch" value="0.2" />				
	</node>

		
	</group>
</launch>	
