<?xml version="1.0" encoding="UTF-8"?>
<launch>	
	<arg name="namespace" default="bluerov2" />
	<arg name="configJoy" default="default"/>
	<group> 
	
		<include file="$(find-pkg-share IBVS_ROV)/launch/mavros.launch">  
			<arg name="namespace" value="$(var namespace)"/>		
		</include>
		<include file="$(find-pkg-share IBVS_ROV)/launch/gamepad.launch">  
			<arg name="namespace" value="$(var namespace)"/>	
			<arg name="configJoy" value="$(var configJoy)" />
		</include>		
	</group>

	<group>
		<node pkg="IBVS_ROV" exec="Image_videoGrabber" name="Image_videoGrabber" output="screen"></node>
	</group>
		
</launch>	
